<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderVariantField>
        <processor type="Sitecore.Support.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.FixPoiMarkup, Sitecore.Support.9600" patch:before = "*[1]"/>
      </renderVariantField>
    </pipelines>
  </sitecore>
</configuration>